<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PgMulti.Properties.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PgMulti.Properties.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PgMulti.Properties.AppSettings>
            <setting name="LanguageId" serializeAs="String">
                <value />
            </setting>
        </PgMulti.Properties.AppSettings>
    </userSettings>
    <applicationSettings>
        <PgMulti.Properties.AppSettings>
            <setting name="LatestReleaseInfoUrl" serializeAs="String">
                <value>https://api.github.com/repos/javiervicoegea/pgMulti/releases/latest</value>
            </setting>
            <setting name="ProjectUrl" serializeAs="String">
                <value>https://github.com/javiervicoegea/pgMulti/</value>
            </setting>
        </PgMulti.Properties.AppSettings>
    </applicationSettings>
</configuration>